<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Novo evento</title>
    </head>
    <body>
        <h1>Cadastro de Eventos:</h1>
        <form action="POST">
            Nome: <input type="text" value="" name="nome"></input>
            Local: <input type="text" value="" name="local"></input>
            Data: <input type="date" value="" name="data"></input>
            Horário: <input type="text" value="" name="horario"></input>

            <button type="submit">Salvar</button>
        </form>
    </body>
</html>